@model CRUD.Models.UserModel;
@{
    Layout = "_Layout";
}
<div id="main">
    <div class="card">
        <div class="card-body p-3">
            <h5>Add New User</h5>
            <form method="post" asp-action="UserSave" asp-controller="User">
                <div class="container">
                    <div class="row m-2 my-4">
                        <div class="col">
                            @Html.LabelFor(m=>m.UserName,"Enter User Name:",new {@class="form-label"})
                            @Html.TextBoxFor(m=>m.UserName,new {@class="form-control",@placeholder="User Name"})
                        </div>
                    </div>
                    <div class="row m-2 my-4">
                        <div class="col">
                            @Html.LabelFor(m=>m.Email,"Enter Email:",new {@class="form-label"})
                            @Html.TextBoxFor(m=>m.Email,new {@class="form-control",@type="email",@placeholder="Email"})
                        </div>
                        <div class="col">
                            @Html.LabelFor(m=>m.Password,"Enter Password:",new {@class="form-label"})
                            @Html.TextBoxFor(m=>m.Password,new {@class="form-control",@type="password",@placeholder="Password"})
                        </div>
                    </div>
                    <div class="row m-2 my-4">
                        <div class="col">
                            @Html.LabelFor(m=>m.MobileNo,"Enter Mobile No:",new {@class="form-label"})
                            @Html.TextBoxFor(m=>m.MobileNo,new {@class="form-control",@type="text",@placeholder="Mobile No"})
                        </div>
                        <div class="col-6">
                            @Html.LabelFor(m=>m.Address,"Enter Address:",new {@class="form-label"})
                            @Html.TextBoxFor(m=>m.Address,new {@class="form-control",@type="text",@placeholder="Address"})
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-2 m-3">
                            <input type="submit" class="btn btn-primary" placeholder="Submit"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
