@model System.Data.DataTable;
@using System.Data;
@{
    Layout ="_Layout";
}
<main id="main" class="main">

    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h5 class="col-3 card-title">User Table</h5>
                        <h5 class="col"></h5>
                        <h5 class="col-1 my-2 ml-2">
                            <a class="btn btn-primary" asp-controller="User" asp-action="AddEditUser">Add+</a>
                        </h5>
                    </div>

                    <!-- Default Table -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">User ID</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Password</th>
                            <th scope="col">Mobile No</th>
                            <th scope="col">Address</th>
                            <th scope="col">IsActive</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (DataRow user in Model.Rows)
                        {
                            <tr>
                                <td>@user["UserID"]</td>
                                <td>@user["UserName"]</td>
                                <td>@user["Email"]</td>
                                <td>@user["Password"]</td>
                                <td>@user["MobileNo"]</td>
                                <td>@user["Address"]</td>
                                <td>@user["IsActive"]</td>
                                <td>
                  <a class="btn btn-primary" asp-controller="User" asp-action="AddEditUser" asp-route-UserID="@user["UserID"]">Edit</a>
                                    <form asp-controller="User" asp-action="DeleteUser">
                                        <input type="hidden" name="UserID" value="@user["UserID"]" />
                                        <button class="btn btn-danger" type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
