@model System.Data.DataTable;
@using System.Data;
@{
    Layout ="_Layout";
}
<main id="main" class="main">

    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h5 class="col-3 card-title">Order Table</h5>
                        <h5 class="col"></h5>
                        <h5 class="col-1 my-2 ml-2">
                            <a class="btn btn-primary" asp-controller="Order" asp-action="AddEditOrder">Add+</a>
                        </h5>
                    </div>
                    <!-- Default Table -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Customer ID</th>
                            <th scope="col">Payment Mode</th>
                            <th scope="col">Total Amount</th>
                            <th scope="col">User ID</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (DataRow order in Model.Rows) {
                            <tr>
                                <th scope="col">@order["OrderID"]</th>
                                <th scope="col">@order["OrderDate"]</th>
                                <th scope="col">@order["CustomerID"]</th>
                                <th scope="col">@order["PaymentMode"]</th>
                                <th scope="col">@order["TotalAmount"]</th>
                                <th scope="col">@order["UserID"]</th>
                                <td>
                                    <button class="btn btn-primary">Edit</button>
                                    <form asp-controller="Order" asp-action="DeleteOrder">
                                        <input type="hidden" name="OrderID" value="@order["OrderID"]"/>
                                        <button class="btn btn-danger" type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <!-- End Default Table Example -->
                </div>
            </div>


        </div>
    </div>
</main>
